/* ecran mobile entre 358à 414 px */

body{
    max-width: 450px;
    min-width: 200px;
}

h1{
    font-size: 1.7em;
}

p{
    font-size: 1.4em;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav{
    display:none;
}
  
#nav_mobile{
    display:initial;
}

.navbar_mobile{
    display: flex;
    
}

.navbar_mobile ul{
    list-style-type: none;
    display: flex;
}

.odre1_nav{
    order:1;
} 

.odre2_nav{
    order:2;
        padding-right: 30px;
    }

.odre3_nav{
    order:3;
    display:flex;
    border-bottom: #0065FC 2px solid;
    padding-bottom: 10px;
    margin-left: -10px;
    width: 50%;
}

.odre4_nav{
    order:4;
    display:flex;
    border-bottom: #F2F2F2 2px solid;
    padding-bottom: 10px;
    width: 52%;
}

.liseret {
    display:none
}

.liseret_b{
      /* liseret  mobile bleu */
        padding-left: 25px;
        padding-bottom: 10px;
    }
    
.liseret_n{
    padding-left: 55px;
    
    }

header {
    padding:0px;
margin:0px;
}

.btn_ordi{
    display:none;
}  

.btn_mobile{
    display: flex;
    box-sizing: border-box;
}

#recherche{
    display:flex;
    justify-content: center;
}

#recherche button{
        width: 40px;
    }

.filtre_titre{
    padding: 20px 300px 20px 0px;
}

.btn_filtres{
    display:flex;
    flex-wrap: wrap;
}

.btn_filtre{
    padding:5px 20px 5px 50px;
    margin-bottom: 20px;
}

.exclamation 
{margin:20px 0px 20px 0px;
}

.disponible{
    font-size:1.2em;
}        

.zone_hotel{
    flex-direction: column;
margin: 0;
}



#contenant_1{
    background-color: white;             /* contenant image hebergement */
        display: flex;    
        flex-direction: column;
        margin:0px;
        padding-left:0px;
        order:2;
        width: auto;
    }

    #contenant_1_2{             
            display: flex;    
            flex-direction: column;
            margin-left:10px;
}        
  


        .texte_fig{
             margin:10px 0 0 0;
            }

        .img_hotel{
            display: flex;
            width: 100%;
        }

.afficher{
    padding-left: 20px;
}

#contenant_2{
    display: flex;
    flex-direction: column;
    width: auto;
    order:1;
    margin:0px;
    border-radius:0px;
}

.populaire_fleche{
    margin:0px 20px 0px 15px;
}

.activite{
    flex-direction: column;
}

.contenant_3{
    width: auto;
}

.contenant_3_1{
    width: auto;
}

.figure_activite{
    width: auto;
    display:flex;
    flex-direction: column;
    margin:10px 0px 10px 0px;
}  

.figure_activite_1{
    width: auto;
    display:flex;
    flex-direction: column;
    margin:10px 0px 10px 0px;
} 

.img_activite{
    width: auto; 
    height: 90px;
}

.img_activite_1{
    width:auto; 
    height: 90px;
}

footer{
    width: auto;
    background-color: #F2F2F2;
}

#contenant_4{
    flex-direction:column ;
    margin-left: 0px;
    width: auto;
}


