/* ecran mobile entre 358à 414 px */

body{max-width: 699px;min-width: 300px;}

h1{font-size: 1.7em;width: 300px;}

h3{width: 100%;}

h4{width: 100px;}

p{font-size: 1.4em;
    width: auto;}

.logo{display: flex;
    justify-content: space-between;
    align-items: center;
    }

#nav{display:none;}
  
#nav_mobile{display:initial;}

.navbar_mobile{display:flex;
    justify-content:start;
    height: 40px;
    }

.navbar_mobile ul{list-style-type: none;
    display: flex;
    align-items: center;
padding: 0px;}

.navbar_mobile li{padding:20px 70px 20px 0px;}

.odre1_nav{order:1;}    
.odre2_nav{order:2;}
.odre3_nav{order:3;}
.odre4_nav{order:4;}

.liseret {display:none}

.liseret_b{border-bottom: #0065FC 1px solid;   /* liseret  mobile bleu */
        padding:10px;
    padding: 10px 60px 10px 10px;}
    
.liseret_n{border-bottom: #F2F2F2 2px solid;    /* liseret mobile gris */
        padding:10px;
        padding: 50px 100px 10px 0px;}

header {padding:0px;
margin:0px;}

.btn_ordi{display:none;}  

.btn_mobile{display: flex;
    box-sizing: border-box;}

#recherche button{
        width: 40px;}

.btn_filtres{display:flex;
    flex-wrap: wrap;}

.btn_filtre{display:flex;
    padding:5px 20px 5px 20px;
margin-right: 20px;}

.btn_mobile{width: 200%;}

.btn_famille{display:flex;
margin-right:20px;}

.btn_romantique{display:flex;
    margin:10px 210px 10px 0px;}

.exclamation {margin:20px 0px 20px 0px;}

.disponible{font-size:1.2em;}        

.zone_hotel{flex-direction: column;}

.titre_hebergement{padding-left: 20px;}

#contenant_1{ /* contenant hebergement */
    background-color: white;
    margin:0px; margin-bottom: 0px;    /* Marge extérieure */
                            
    order:2}


#contenant_1_2{display: flex;    /* contenant image hebergement */
            flex-direction: column;
            margin:0px;
       }
  
.figure_hotel1{margin:0px 14px 10px 14px;}

.img_hotel{width: 320px;}

.afficher{padding-left: 20px;}

#contenant_2{display: flex;
    flex-direction: column;
    
    order:1;
    margin:0px; margin-bottom: 0px;}

.populaire_fleche{width: 330px;
margin:0px 20px 0px 15px;}

.figure_populaire{margin:0px 14px 10px 14px;}

.fig_populaire{}
   
.activite{display:flex;
    flex-direction: column;
    margin-bottom: 0px;}

.contenant_3_1{display: flex; 
    flex-direction: column;}

.figure_activite{
    margin:10px 0px 10px 0px;}  

.figure_activite_1{
    margin:10px 0px 10px 0px;} 

.img_activite{width: 320px; height: 90px;
    border-radius: 13px 13px 0px 0px;
padding-right: 0%;}

.img_activite_1{width:320px; height: 90px;
    border-radius: 13px 13px 0px 0px;}

footer{width: auto;
    background-color: #F2F2F2;
    }

#contenant_4{
    flex-direction:column ;
    margin-left: 0px;
    width: auto;}

#contenant_4_1{
   height: 118px;
   width: 370px;}

#contenant_4_3{
    height: 118px;
    width: 370px;}

#contenant_4_2{
    height: 118px;
    width: 370px;}

